body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(182, 157, 198);
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 40px 20px rgba(0,0,0,0.2);

    animation: fadeIn 1.5s ease-in-out;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #667eea;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #764ba2;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
